<div class="container pt-4 pb-5">
  <div>
    <div><img class="d-block w-100" src="assets/images/slider1.png" alt="Slider 1"></div>
  </div>
  <h3 class="text-center my-4 fw-bold fs-2">Ответы на часто задаваемые вопросы</h3>
  <ngb-accordion [closeOthers]="true" activeIds="static-1">
    <ngb-panel id="static-1" title="Собираете ли вы подарочные боксы?">
      <ng-template ngbPanelContent>
        Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-2" title="Сколько у вас разновидностей чая?">
      <ng-template ngbPanelContent>
        Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
        purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
        velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
        suscipit faucibus urna.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-3" title="В какой срок осуществляется доставка?">
      <ng-template ngbPanelContent>
        Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
        purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
        velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
        suscipit faucibus urna.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-4" title="У вас обновляется ассортимент?">
      <ng-template ngbPanelContent>
        Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
        purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
        velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
        suscipit faucibus urna.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-5" title="Какого объема у вас пачки чая?">
      <ng-template ngbPanelContent>
        Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
        purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
        velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
        suscipit faucibus urna.
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <div style="position: fixed; top: 0; left: 0; height: 100%; width: 100%;" *ngIf="shouldShowPopup" [ngStyle]="{'display': elementDisplay}">
    <div class="position-fixed top-0 start-0 w-100 h-100 bg-dark opacity-75"></div>
    <div class="position-absolute top-50 start-50 translate-middle border rounded p-4 bg-white">
      <div class="text-center">
        <p>Посмотрите наши чайные коллекции</p>
        <button class="btn btn-primary" routerLink="/products">Смотреть</button>
        <button class="btn btn-primary m-2" (click)="hideElement()" >Закрыть</button>
      </div>
    </div>
  </div>
</div>

