<div class="container pt-4 mb-5">
<form class="w-50 mx-auto" [formGroup]="formValues" novalidate *ngIf="hideForm">
  <h3 class="text-center my-5 fw-bold fs-2">Сделать заказ</h3>
  <div class="row g-4 pb-2">
    <div class="col-4">
      <label for="name" class="form-label">Имя</label>
      <input type="text" name="name" class="form-control" id="name" formControlName="name">
      <div class="invalid-feedback" *ngIf="formValues.get('name')?.invalid && (formValues.get('name')?.touched || formValues.get('name')?.dirty)">
        <div class="invalid-feedback" *ngIf="formValues.get('name')?.errors?.['required']">
          Введите имя.
        </div>
        <div class="invalid-feedback" *ngIf="formValues.get('name')?.errors?.['pattern']">
          Поле заполнено некорректно.
        </div>
      </div>
    </div>
    <div class="col-4">
      <label for="surname" class="form-label">Фамилия</label>
      <input type="text" name="surname" class="form-control" id="surname" formControlName="last_name">
      <div *ngIf="formValues.get('last_name')?.invalid && (formValues.get('last_name')?.touched || formValues.get('last_name')?.dirty)">
        <div class="invalid-feedback" *ngIf="formValues.get('last_name')?.errors?.['required']">
          Введите фамилию.
        </div>
        <div class="invalid-feedback" *ngIf="formValues.get('last_name')?.errors?.['pattern']">
          Поле заполнено некорректно.
        </div>
      </div>
    </div>
    <div class="col-4">
      <label for="tel" class="form-label">Телефон</label>
      <input type="tel" name="tel" class="form-control" id="tel" formControlName="phone">
      <div *ngIf="formValues.get('phone')?.invalid && (formValues.get('phone')?.touched || formValues.get('phone')?.dirty)">
        <div class="invalid-feedback" *ngIf="formValues.get('phone')?.errors?.['required']">
          Введите номер телефона.
        </div>
        <div class="invalid-feedback" *ngIf="formValues.get('phone')?.errors?.['pattern']">
          Поле заполнено некорректно.
        </div>
      </div>
    </div>
  </div>
  <div class="row g-4 py-2">
    <div class="col-6">
      <label for="country" class="form-label">Страна</label>
      <input type="text" name="country" class="form-control" id="country" formControlName="country">
      <div class="invalid-feedback" *ngIf="formValues.get('country')?.invalid && (formValues.get('country')?.touched || formValues.get('country')?.dirty)
      && formValues.get('country')?.errors?.['required']">
        Введите страну.
      </div>
    </div>
    <div class="col-6">
      <label for="index" class="form-label">Индекс</label>
      <input type="text" name="index" class="form-control" id="index" formControlName="zip">
      <div class="invalid-feedback" *ngIf="formValues.get('zip')?.invalid && (formValues.get('zip')?.touched || formValues.get('zip')?.dirty)
      && formValues.get('zip')?.errors?.['required']">
        Введите индекс.
      </div>
    </div>
  </div>
  <div class="row g-4 py-2">
    <div class="col-12 mb-3">
      <label for="address" class="form-label">Адрес</label>
      <input type="text" name="address" class="form-control" id="address" formControlName="address">
      <div *ngIf="formValues.get('address')?.invalid && (formValues.get('address')?.touched || formValues.get('address')?.dirty)">
        <div class="invalid-feedback" *ngIf="formValues.get('address')?.errors?.['required']">
          Введите адрес.
        </div>
        <div class="invalid-feedback" *ngIf="formValues.get('address')?.errors?.['pattern']">
          Поле заполнено некорректно.
        </div>
      </div>
    </div>
  </div>
  <div class="row g-4 py-2">
    <div class="col-12 mb-3">
      <label for="address" class="form-label">Товар</label>
      <input type="text" name="product" class="form-control" id="product" formControlName="product">
    </div>
  </div>
  <div class="row g-4 py-2">
    <div class="col-12 mb-3">
      <label for="address" class="form-label">Комментарий к заказу</label>
      <input type="text" name="comment" class="form-control" id="comment" formControlName="comment">
    </div>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-primary mb-5 px-5" (click)="sendForm()" [disabled]="!formValues.valid">Отправить</button>
    <div class="invalid-feedback" *ngIf="showFailMessage">Произошла ошибка. Попробуйте еще раз.</div>
  </div>
</form>
  <div class="container pt-4 mb-5" *ngIf="showSuccessMessage">
    <h3 class="text-center my-5 fw-bold fs-2">Спасибо за заказ!</h3>
  </div>
</div>
